@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body{
    font-family: 'Indie Flower';
}
hr{
    height: 2px;
    background-color: #000000;
}
#myTable{
    position: relative;
}
caption{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

th, td{
    background-color: #a0fcd6;
    font-weight: bold;
}

#myTitle{
    color: red;
}

th[scope=col], th[scope=row]{
    color: red;
}
td[rowspan] + td + td {
    background: #96b0c9 !important;
  }